<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.gradationback.mapper.ArtImgMapper">

    <insert id="insert" parameterType="ArtImgVO">
        INSERT INTO TBL_ART_IMG
        VALUES (SEQ_ART_IMG.NEXTVAL, #{artImgName}, #{artImgPath}, #{artId})
    </insert>

    <select id="selectAll" resultType="ArtImgVO">
        SELECT ID, ART_IMG_NAME, ART_IMG_PATH, ART_ID
        FROM TBL_ART_IMG
    </select>

    <select id="select" parameterType="Long" resultType="ArtImgVO">
        SELECT ID, ART_IMG_NAME, ART_IMG_PATH, ART_ID
        FROM TBL_ART_IMG
        WHERE ID = #{id}
    </select>

    <update id="update" parameterType="ArtImgVO">
        UPDATE TBL_ART_IMG
        SET ART_IMG_NAME = #{artImgName}, ART_IMG_PATH = #{artImgPath}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_ART_IMG
        WHERE ID = #{id}
    </delete>

</mapper>