<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.gradationback.mapper.ArtMapper">

    <!--  작품 등록  -->
    <insert id="insert" parameterType="ArtVO">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_ART.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_ART (ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_END_DATE, USER_ID)
        VALUES (#{id}, #{artTitle}, #{artCategory}, #{artMaterial},
                #{artSize}, #{artDescription}, #{artEndDate}, #{userId})
    </insert>

    <!--  작품 전체 조회  -->
    <select id="selectAll" resultType="ArtVO">
        SELECT ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_END_DATE, USER_ID
        FROM TBL_ART
    </select>

    <!--  작품 단일 조회  -->
    <select id="select" parameterType="Long" resultType="ArtVO">
        SELECT ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_END_DATE, USER_ID
        FROM TBL_ART
        WHERE ID = #{id}
    </select>


    <!-- 카테고리별 작품 조회 -->
<!--    <select id="selectArtListByFilter" parameterType="ArtFilterVO" resultType="ArtVO">-->
<!--        SELECT TBA.ID, TBA.ART_TITLE, TBA.ART_CATEGORY, TBA.ART_MATERIAL, TBA.ART_SIZE, TBA.ART_DESCRIPTION, TBA.USER_ID, TBP.ART_POST_DATE-->
<!--        FROM TBL_ART TBA-->
<!--        JOIN TBL_ART_POST TBP-->
<!--        ON TBA.ID = TBP.ART_ID-->
<!--        WHERE ART_CATEGORY = #{artCategory}-->
<!--        <choose>-->
<!--            <when test="sortBy == 'likes'">-->
<!--                ORDER BY ART_LIKE_COUNT DESC-->
<!--            </when>-->
<!--            <when test="sortBy == 'date'">-->
<!--                ORDER BY ART_POST_DATE DESC-->
<!--            </when>-->
<!--            <otherwise>-->
<!--                ORDER BY ID DESC-->
<!--            </otherwise>-->
<!--        </choose>-->
<!--        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY-->
<!--    </select>    -->


<!--  카테고리별 작품 조회  -->
    <select id="selectArtListByCategory" parameterType="Map" resultType="ArtVO">
        SELECT TBA.ID, TBA.ART_TITLE, TBA.ART_CATEGORY, TBA.ART_MATERIAL, TBA.ART_SIZE, TBA.ART_DESCRIPTION, TBA.USER_ID, TBP.ART_POST_DATE
        FROM TBL_ART TBA
        JOIN TBL_ART_POST TBP
        ON TBA.ID = TBP.ART_ID
        WHERE ART_CATEGORY = #{artCategory}
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

<!--  드롭다운 작품 조회  -->
    <select id="selectArtListByDropdown" parameterType="Map" resultType="ArtVO">
        SELECT TBA.ID, TBA.ART_TITLE, TBA.ART_CATEGORY, TBA.ART_MATERIAL, TBA.ART_SIZE, TBA.ART_DESCRIPTION, TBA.USER_ID, TBP.ART_POST_DATE
        FROM TBL_ART TBA
        JOIN TBL_ART_POST TBP
        <choose>
            <when test="sortBy == 'likes'">
                ORDER BY TBA.ART_LIKE_COUNT DESC
            </when>
            <when test="sortBy == 'date'">
                ORDER BY TBP.ART_POST_DATE DESC
            </when>
            <otherwise>
                ORDER BY TBA.ID DESC
            </otherwise>
        </choose>
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

<!-- 카테고리 + 드롭다운 + 페이지네이션 -->
    <select id="selectArtListByCategoryAndDropdown" parameterType="map" resultType="ArtVO">
        SELECT TBA.ID, TBA.ART_TITLE, TBA.ART_CATEGORY, TBA.ART_MATERIAL, TBA.ART_SIZE, TBA.ART_DESCRIPTION, TBA.USER_ID, TBP.ART_POST_DATE, TBP.ART_ID, COUNT(TBL.ART_ID) AS ART_LIKE_COUNT
        FROM TBL_ART TBA
        JOIN TBL_ART_POST TBP
        ON TBA.ID = TBP.ART_ID
        JOIN TBL_ART_LIKE TBL
        ON TBA.ID = TBL.ART_ID
        WHERE TBA.ART_CATEGORY = #{artCategory}
        <choose>
            <when test="sortBy == 'date'">
                ORDER BY TBP.ART_POST_DATE DESC
            </when>
            <otherwise>
                ORDER BY TBA.ID DESC
            </otherwise>
        </choose>
        GROUP BY TBA.ID, TBA.ART_TITLE, TBA.ART_CATEGORY, TBA.ART_MATERIAL, TBA.ART_SIZE, TBA.ART_DESCRIPTION, TBA.USER_ID, TBP.ART_ID, TBP.ART_POST_DATE, TBL.ART_ID
        OFFSET (#{cursor} - 1) * 15 ROWS
        FETCH NEXT 15 ROWS ONLY
    </select>


    <!--  작품 삭제 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM TBL_ART
        WHERE ID = #{id}
    </delete>

</mapper>