<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.gradationback.mapper.ArtMapper">

    <insert id="insert" parameterType="ArtVO">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_ART.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_ART
        VALUES (#{id}, #{artTitle}, #{artCategory}, #{artMaterial},
                #{artSize}, #{artDescription}, #{artEndDate}, #{userId})
    </insert>

    <select id="selectAll" resultType="ArtVO">
        SELECT ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_END_DATE, USER_ID
        FROM TBL_ART
    </select>

    <select id="select" parameterType="Long" resultType="ArtVO">
        SELECT ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_END_DATE, USER_ID
        FROM TBL_ART
        WHERE ID = #{id}
    </select>

    <update id="update" parameterType="ArtVO">
        UPDATE TBL_ART
        SET ART_TITLE = #{artTitle}, ART_CATEGORY = #{artCategory}, ART_MATERIAL = #{artMaterial},
            ART_SIZE = #{artSize}, ART_DESCRIPTION = #{artDescription}, ART_END_DATE = #{artEndDate}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE TBL_ART
        WHERE ID = #{id}
    </delete>

<!--    관리자용 승인 대기 목록-->
    <select id="selectAllPending" resultType="ArtDTO">
        SELECT
            TBA.ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_END_DATE, ART_STATUS,
            TAI.ART_IMG_NAME, TAI.ART_IMG_PATH,
            TBU.ID AS USER_ID, USER_NAME, USER_EMAIL
        FROM TBL_ART TBA
        JOIN TBL_USER TBU ON TBA.USER_ID = TBU.ID
        LEFT JOIN TBL_ART_IMG TAI ON TAI.ART_ID = TBA.ID
        WHERE ART_STATUS = '미신청'
        ORDER BY ART_END_DATE DESC
    </select>

<!--    관리자용 대기 작품 상세 조회-->
    <select id="selectPendingById" parameterType="Long" resultType="ArtDTO">
        SELECT
            TBA.ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_END_DATE, ART_STATUS,
            TAI.ART_IMG_NAME, TAI.ART_IMG_PATH,
            TBU.ID AS USER_ID, USER_NAME, USER_EMAIL
        FROM TBL_ART TBA
        JOIN TBL_USER TBU ON TBA.USER_ID = TBU.ID
        LEFT JOIN TBL_ART_IMG TAI ON TAI.ART_ID = TBA.ID
        WHERE TBA.ID = #{id}
    </select>

<!--    관리자용 신청 작품 상태 변경 (승인 / 반려)-->
    <update id="updateStatus" parameterType="ArtDTO">
        UPDATE TBL_ART
        SET ART_STATUS = #{artStatus}
        WHERE ID = #{id}
    </update>


</mapper>