<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.gradationback.mapper.ArtMapper">

    <!--  작품 등록  -->
    <insert id="insert" parameterType="ArtVO">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_ART.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_ART (ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_END_DATE, USER_ID)
        VALUES (#{id}, #{artTitle}, #{artCategory}, #{artMaterial},
                #{artSize}, #{artDescription}, #{artEndDate}, #{userId})
    </insert>

    <select id="selectAllByUserId" parameterType="Long" resultType="ArtVO">
        SELECT * FROM TBL_ART WHERE USER_ID = #{userId}
    </select>

    <!--  작품 삭제 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM TBL_ART
        WHERE ID = #{id}
    </delete>

    <!--    관리자용 승인 대기 목록-->
    <select id="selectAllPending" resultType="ArtDTO">
        SELECT
            TBA.ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_END_DATE, ART_STATUS,
            TAI.ART_IMG_NAME, TAI.ART_IMG_PATH,
            TBU.ID AS USER_ID, USER_NAME, USER_EMAIL
        FROM TBL_ART TBA
            JOIN TBL_USER TBU ON TBA.USER_ID = TBU.ID
            LEFT JOIN TBL_ART_IMG TAI ON TAI.ART_ID = TBA.ID
        WHERE ART_STATUS = '미신청'
        ORDER BY ART_END_DATE DESC
    </select>

    <!--    관리자용 대기 작품 상세 조회-->
    <select id="selectPendingById" parameterType="Long" resultType="ArtDTO">
        SELECT
            TBA.ID, ART_TITLE, ART_CATEGORY, ART_MATERIAL, ART_SIZE, ART_DESCRIPTION, ART_END_DATE, ART_STATUS,
            TAI.ART_IMG_NAME, TAI.ART_IMG_PATH,
            TBU.ID AS USER_ID, USER_NAME, USER_EMAIL
        FROM TBL_ART TBA
            JOIN TBL_USER TBU ON TBA.USER_ID = TBU.ID
            LEFT JOIN TBL_ART_IMG TAI ON TAI.ART_ID = TBA.ID
        WHERE TBA.ID = #{id}
    </select>

    <!--    관리자용 신청 작품 상태 변경 (승인 / 반려)-->
    <update id="updateStatus" parameterType="ArtDTO">
        UPDATE TBL_ART
        SET ART_STATUS = #{artStatus}
        WHERE ID = #{id}
    </update>

<!--    -->
    <!--  좋아요  -->
    <insert id="insertLike" parameterType="ArtLikeVO">
        INSERT INTO TBL_ART_LIKE (ID, USER_ID, ART_ID, ART_LIKE_TIME)
        VALUES (SEQ_ART_LIKE.NEXTVAL, #{userId}, #{artId}, SYSTIMESTAMP)
    </insert>

    <!--  좋아요 수  -->
    <select id="selectLikeCount" parameterType="Long" resultType="int">
        SELECT COUNT(ID)
        FROM TBL_ART_LIKE
        WHERE ART_ID = #{artId}
    </select>

    <!--  좋아요 취소  -->
    <delete id="deleteLike" parameterType="ArtLikeVO">
        DELETE FROM TBL_ART_LIKE
        WHERE USER_ID = #{userId} AND ART_ID = #{artId}
    </delete>

    <!--  좋아요 전체 삭제 (게시글 삭제 시) -->
    <delete id="deleteAllByArtId" parameterType="Long">
        DELETE FROM TBL_ART_LIKE
        WHERE ART_ID = #{artId}
    </delete>



</mapper>