<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.gradationback.mapper.AuctionMapper">
    
    <insert id="insert" parameterType="AuctionVO">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_AUCTION.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_AUCTION (
            ID,
            ART_ID,
            AUCTION_START_DATE,
            AUCTION_END_DATE,
            AUCTION_START_PRICE,
            AUCTION_ESTIMATED_MIN_PRICE,
            AUCTION_ESTIMATED_MAX_PRICE
        )
        VALUES (
            #{id},
            #{artId},
            TO_DATE(#{auctionStartDate}, 'YYYY-MM-DD HH24:MI:SS'),
            TO_DATE(#{auctionStartDate}, 'YYYY-MM-DD HH24:MI:SS') + 3,
            #{auctionStartPrice},
            #{auctionEstimatedMinPrice},
            #{auctionEstimatedMaxPrice}
        )
    </insert>
    
    <select id="selectAll" parameterType="Map" resultType="AuctionDTO">
        SELECT
            TAU.ID,
            TAU.ART_ID,
            TAU.USER_ID,
            AUCTION_START_DATE,
            AUCTION_END_DATE,
            AUCTION_START_PRICE,
            AUCTION_ESTIMATED_MIN_PRICE,
            AUCTION_ESTIMATED_MAX_PRICE,
            AUCTION_ATTRACTED,
            AUCTION_BID_PRICE,
            AUCTION_BID_DATE,
            TAR.ID,
            ART_TITLE,
            ART_CATEGORY,
            ART_MATERIAL,
            ART_SIZE,
            ART_DESCRIPTION,
            ART_END_DATE,
            TAR.USER_ID,
            TAI.ART_IMG_NAME,
            TAI.ART_IMG_PATH,
            TUS.USER_NAME AS ARTIST_NAME,
            TUS.ID AS ARTIST_ID,
        COALESCE(TAL.ART_LIKE_COUNT, 0) AS ART_LIKE_COUNT
        FROM TBL_AUCTION TAU
        JOIN TBL_ART TAR
        ON TAU.ART_ID = TAR.ID
        LEFT JOIN (
        SELECT TAI1.ART_ID, TAI1.ART_IMG_NAME, TAI1.ART_IMG_PATH
        FROM TBL_ART_IMG TAI1
        JOIN (
            SELECT ART_ID, MIN(ID) AS MIN_ID
            FROM TBL_ART_IMG
            GROUP BY ART_ID
        ) TAI2
        ON TAI1.ART_ID = TAI2.ART_ID
            AND TAI1.ID = TAI2.MIN_ID
        ) TAI
        ON TAR.ID = TAI.ART_ID
        LEFT OUTER JOIN (
            SELECT ART_ID, COUNT(ID) AS ART_LIKE_COUNT
            FROM TBL_ART_LIKE
            GROUP BY ART_ID
        ) TAL
        ON TAR.ID = TAL.ART_ID
        JOIN TBL_USER TUS
        ON TAR.USER_ID = TUS.ID
        <choose>
            <when test="category != null and category.equals('공예')">
                WHERE ART_CATEGORY = '공예'
            </when>
            <when test="category != null and category.equals('건축')">
                WHERE ART_CATEGORY = '건축'
            </when>
            <when test="category != null and category.equals('서예')">
                WHERE ART_CATEGORY = '서예'
            </when>
            <when test="category != null and category.equals('회화')">
                WHERE ART_CATEGORY = '회화'
            </when>
            <when test="category != null and category.equals('조각')">
                WHERE ART_CATEGORY = '조각'
            </when>
            <when test="category != null and category.equals('한국화')">
                WHERE ART_CATEGORY = '한국화'
            </when>
            <otherwise>
                WHERE ART_CATEGORY = '한국화'
            </otherwise>
        </choose>
        <choose>
            <when test="status != null and status.equals('expected')">
                AND AUCTION_START_DATE &gt; SYSDATE
            </when>
            <when test="status != null and status.equals('bidding')">
                AND AUCTION_START_DATE &lt; SYSDATE
                AND AUCTION_BID_DATE IS NULL
            </when>
            <when test="status != null and status.equals('complete')">
                AND AUCTION_BID_DATE &lt; SYSDATE
            </when>
            <otherwise>
                AND AUCTION_START_DATE &lt; SYSDATE
                AND AUCTION_BID_DATE IS NULL
            </otherwise>
        </choose>
        <if test="keyword != null and keyword != ''">
            AND (
            TAR.ART_TITLE LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
            OR TUS.USER_NAME LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
            )
        </if>
        ORDER BY
        <choose>
            <when test="order != null and order.equals('popular')">
                ART_LIKE_COUNT
            </when>
            <when test="order != null and order.equals('date')">
                AUCTION_START_DATE
            </when>
            <otherwise>
                TAU.ID
            </otherwise>
        </choose>
        <choose>
            <when test="direction != null and direction.equals('desc')">
                DESC
            </when>
            <otherwise>
                ASC
            </otherwise>
        </choose>
        OFFSET (#{cursor} - 1) * 15 ROWS
        FETCH NEXT 15 ROWS ONLY
    </select>

    <select id="selectCountBidding" parameterType="Map" resultType="Integer">
        SELECT COUNT(TAU.ID)
        FROM TBL_AUCTION TAU
        JOIN TBL_ART TAR
        ON TAU.ART_ID = TAR.ID
        JOIN TBL_USER TUS
        ON TAR.USER_ID = TUS.ID
        <choose>
            <when test="category != null and category.equals('공예')">
                WHERE ART_CATEGORY = '공예'
            </when>
            <when test="category != null and category.equals('건축')">
                WHERE ART_CATEGORY = '건축'
            </when>
            <when test="category != null and category.equals('서예')">
                WHERE ART_CATEGORY = '서예'
            </when>
            <when test="category != null and category.equals('회화')">
                WHERE ART_CATEGORY = '회화'
            </when>
            <when test="category != null and category.equals('조각')">
                WHERE ART_CATEGORY = '조각'
            </when>
            <when test="category != null and category.equals('한국화')">
                WHERE ART_CATEGORY = '한국화'
            </when>
            <otherwise>
                WHERE ART_CATEGORY = '한국화'
            </otherwise>
        </choose>
        <choose>
            <when test="status != null and status.equals('expected')">
                AND AUCTION_START_DATE &gt; SYSDATE
            </when>
            <when test="status != null and status.equals('bidding')">
                AND AUCTION_START_DATE &lt; SYSDATE
                AND AUCTION_BID_DATE IS NULL
            </when>
            <when test="status != null and status.equals('complete')">
                AND AUCTION_BID_DATE &lt; SYSDATE
            </when>
            <otherwise>
                AND AUCTION_START_DATE &lt; SYSDATE
                AND AUCTION_BID_DATE IS NULL
            </otherwise>
        </choose>
        <if test="keyword != null and keyword != ''">
            AND (
                TAR.ART_TITLE LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
                OR TUS.USER_NAME LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
            )
        </if>
    </select>

    <select id="select" resultType="AuctionDTO" parameterType="Long">
        SELECT
            TAU.ID,
            TAU.ART_ID,
            TAU.USER_ID,
            AUCTION_START_DATE,
            AUCTION_END_DATE,
            AUCTION_START_PRICE,
            AUCTION_ESTIMATED_MIN_PRICE,
            AUCTION_ESTIMATED_MAX_PRICE,
            AUCTION_ATTRACTED,
            AUCTION_BID_PRICE,
            AUCTION_BID_DATE,
            TAR.ID,
            ART_TITLE,
            ART_CATEGORY,
            ART_MATERIAL,
            ART_SIZE,
            ART_DESCRIPTION,
            ART_END_DATE,
            TAR.USER_ID,
            TU.USER_NAME AS ARTIST_NAME,
            TU.ID AS ARTIST_ID
        FROM TBL_AUCTION TAU
        JOIN TBL_ART TAR
        ON TAU.ART_ID = TAR.ID
        JOIN TBL_USER TU
        ON TAR.USER_ID = TU.ID
        WHERE TAU.ID = #{id}
    </select>

    <select id="selectBidding" parameterType="Integer" resultType="AuctionDTO">
        SELECT
        TAU.ID,
        TAU.ART_ID,
        TAU.USER_ID,
        AUCTION_START_DATE,
        AUCTION_END_DATE,
        AUCTION_START_PRICE,
        AUCTION_ESTIMATED_MIN_PRICE,
        AUCTION_ESTIMATED_MAX_PRICE,
        AUCTION_ATTRACTED,
        AUCTION_BID_PRICE,
        AUCTION_BID_DATE,
        TAR.ID,
        ART_TITLE,
        ART_CATEGORY,
        ART_MATERIAL,
        ART_SIZE,
        ART_DESCRIPTION,
        ART_END_DATE,
        TAR.USER_ID,
        TAI.ART_IMG_NAME,
        TAI.ART_IMG_PATH,
        COALESCE(TAL.ART_LIKE_COUNT, 0) AS ART_LIKE_COUNT
        FROM TBL_AUCTION TAU
        JOIN TBL_ART TAR
        ON TAU.ART_ID = TAR.ID
        LEFT JOIN (
        SELECT TAI1.ART_ID, TAI1.ART_IMG_NAME, TAI1.ART_IMG_PATH
        FROM TBL_ART_IMG TAI1
        JOIN (
        SELECT ART_ID, MIN(ID) AS MIN_ID
        FROM TBL_ART_IMG
        GROUP BY ART_ID
        ) TAI2
        ON TAI1.ART_ID = TAI2.ART_ID
        AND TAI1.ID = TAI2.MIN_ID
        ) TAI
        ON TAR.ID = TAI.ART_ID
        LEFT OUTER JOIN (
        SELECT ART_ID, COUNT(ID) AS ART_LIKE_COUNT
        FROM TBL_ART_LIKE
        GROUP BY ART_ID
        ) TAL
        ON TAR.ID = TAL.ART_ID
        WHERE AUCTION_START_DATE &lt; SYSDATE
            AND AUCTION_BID_DATE IS NULL
        ORDER BY TAU.ID
        OFFSET (#{cursor} - 1) * 4 ROWS
        FETCH NEXT 4 ROWS ONLY
    </select>

    <select id="selectCountOnBidding" resultType="Integer">
        SELECT COUNT(ID)
        FROM TBL_AUCTION
        WHERE AUCTION_START_DATE &lt; SYSDATE
        AND AUCTION_BID_DATE IS NULL
    </select>

    <select id="selectByArtId" parameterType="Long" resultType="Long">
        SELECT COUNT(ID)
        FROM TBL_AUCTION
        where ART_ID = #{artId}
    </select>
    
    <select id="selectByUserId" parameterType="Long" resultType="AuctionDTO">
        SELECT
            TAU.ID,
            TAU.ART_ID,
            TAU.USER_ID,
            AUCTION_START_DATE,
            AUCTION_START_PRICE,
            AUCTION_ESTIMATED_MIN_PRICE,
            AUCTION_ESTIMATED_MAX_PRICE,
            AUCTION_ATTRACTED,
            AUCTION_BID_PRICE,
            AUCTION_BID_DATE,
            TAR.ID,
            ART_TITLE,
            ART_CATEGORY,
            ART_MATERIAL,
            ART_SIZE,
            ART_DESCRIPTION,
            ART_END_DATE,
            TAR.USER_ID,
            TU.USER_NAME AS ARTIST_NAME,
            TU.ID AS ARTIST_ID,
            TAI.ART_IMG_NAME,
            TAI.ART_IMG_PATH
        FROM TBL_AUCTION TAU
        JOIN TBL_ART TAR
            ON TAU.ART_ID = TAR.ID
        JOIN HR.TBL_ART_IMG TAI
            ON TAR.ID = TAI.ART_ID
        JOIN TBL_USER TU
            ON TAR.USER_ID = TU.ID
        JOIN (
            SELECT AUCTION_ID
            FROM TBL_AUCTION_BIDDING
            WHERE USER_ID = #{userId}
            group by AUCTION_ID
        ) TAB
        ON TAB.AUCTION_ID = TAU.ID
    </select>


    <update id="update" parameterType="AuctionVO">
        UPDATE TBL_AUCTION
        SET
            AUCTION_START_DATE = TO_DATE(#{auctionStartDate}, 'YYYY-MM-DD HH24:MI:SS'),
            AUCTION_END_DATE = TO_DATE(#{auctionEndDate}, 'YYYY-MM-DD HH24:MI:SS'),
            AUCTION_START_PRICE = #{auctionStartPrice},
            AUCTION_ESTIMATED_MIN_PRICE = #{auctionEstimatedMinPrice},
            AUCTION_ESTIMATED_MAX_PRICE = #{auctionEstimatedMaxPrice},
            <choose>
                <when test="auctionAttracted">
                    AUCTION_ATTRACTED = 1,
                    USER_ID = #{userId},
                    AUCTION_BID_PRICE = #{auctionBidPrice}
                </when>
                <otherwise>
                    AUCTION_ATTRACTED = 0
                </otherwise>
            </choose>
            <choose>
                <when test="auctionBidDate != null">
                    , AUCTION_BID_DATE = TO_DATE(#{auctionBidDate}, 'YYYY-MM-DD HH24:MI:SS')
                </when>
                <otherwise>
                </otherwise>
            </choose>
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_AUCTION
        WHERE ID = #{id}
    </delete>
</mapper>