<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.gradationback.mapper.DisplayMapper">

    <insert id="insertArt" parameterType="ArtVO">
        INSERT INTO TBL_ART
        VALUES (SEQ_ART.NEXTVAL, #{artTitle}, #{artCategory}, #{artMaterial},
                #{artSize}, #{artDescription}, #{artEndDate}, #{userId})
    </insert>

    <insert id="insertArtImg" parameterType="ArtImgVO">
        INSERT INTO TBL_ART_IMG
        VALUES (SEQ_ART_IMG.NEXTVAL, #{artImgName}, #{artImgPath}, #{artId})
    </insert>

    <select id="selectAll" resultType="ArtPostDTO">
        SELECT TBA.ID, TBA.ART_TITLE, TBU.USER_NAME,
               TBI.ART_IMG_NAME, TBI.ART_IMG_PATH, TBI.ART_ID
        FROM TBL_ART TBA
        JOIN TBL_USER TBU
        ON TBA.USER_ID = TBU.ID
        JOIN TBL_ART_IMG TBI
        ON TBA.ID = TBI.ART_ID
    </select>

    <select id="select" parameterType="Long" resultType="ArtPostDTO">
        SELECT TBA.ID, TBA.ART_TITLE, TBA.ART_CATEGORY, TBA.ART_MATERIAL, TBA.ART_SIZE, TBA.ART_DESCRIPTION, TBA.ART_END_DATE,
                TBU.USER_NAME, TBU.USER_IMG_NAME, TBU.USER_IMG_PATH, TBI.ART_IMG_NAME, TBI.ART_IMG_PATH,
                TBR.REPLY_CONTENT, TBR.REPLY_DATE
        FROM TBL_ART TBA
        JOIN TBL_ART_LIKE TBL
        ON TBA.ID = TBL.ART_ID
        JOIN TBL_ART_IMG TBI
        ON TBA.ID = TBI.ART_ID
        JOIN TBL_USER TBU
        ON TBA.USER_ID = TBU.ID
        JOIN TBL_ART_POST TBP
        ON TBA.ID = TBP.ART_ID
        JOIN TBL_REPLY TBR
        ON TBP.ID = TBR.ART_POST_ID
        JOIN TBL_REPLY_LIKE TBRL
        ON TBR.ID = TBRL.REPLY_ID
        WHERE TBA.ID = #{id}
    </select>

</mapper>