<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.gradationback.mapper.MailMapper">

<!--    목차: 1. 작가와 연락 2. 알림, 공통요소(쪽지상세, 삭제, 읽음처리)-->

<!--    1. 작가와 연락  -->

<!--    이메일로 아이디 찾기-->
    <select id="findByIdForEmail" parameterType="MailDTO" resultType="Long">
        SELECT ID
        FROM TBL_USER
        WHERE USER_EMAIL = #{receiveUserEmail}
    </select>


<!--    쪽지 등록(작가와 연락 등록)-->
    <insert id="insert" parameterType="MailDTO">
        INSERT INTO TBL_MAIL (ID, MAIL_TITLE, MAIL_CONTENT, MAIL_SEND_TIME, MAIL_OPEN_OK, SEND_USER_ID, RECEIVE_USER_ID)
        VALUES (SEQ_MAIL.NEXTVAL, #{mailTitle}, #{mailContent}, SYSTIMESTAMP, 0, #{sendUserId},
                    (SELECT ID FROM TBL_USER WHERE USER_EMAIL = #{receiveUserEmail})
                )
    </insert>

<!--    받은 쪽지 조회(작가와 연락 -> 쪽지 수신함 리스트)-->
    <select id="selectReceived" parameterType="Long" resultType="MailDTO">
        SELECT TM.ID, TM.MAIL_TITLE, TM.MAIL_SEND_TIME, TU.USER_NAME AS sendUserName
        FROM TBL_MAIL TM
        JOIN TBL_USER TU
        ON TM.SEND_USER_ID = TU.ID
        WHERE TM.RECEIVE_USER_ID = #{receiveUserId}
        AND TM.MAIL_RECEIVE_USER_DELETED = 0
        ORDER BY TM.MAIL_SEND_TIME DESC
    </select>

<!--    보낸 쪽지 조회(작가와 연락 -> 내가 보낸 쪽지 리스트)-->
    <select id="selectSended" parameterType="Long" resultType="MailDTO">
        SELECT TM.ID, TM.MAIL_TITLE, TM.MAIL_SEND_TIME, TU.USER_NAME AS receiveUserName
        FROM TBL_MAIL TM
        JOIN TBL_USER TU
        ON TM.RECEIVE_USER_ID = TU.ID
        WHERE TM.SEND_USER_ID = #{sendUserId}
        AND TM.MAIL_SEND_USER_DELETED = 0
        ORDER BY TM.MAIL_SEND_TIME DESC
    </select>

<!--    받은 쪽지 단일 조회(작가와 연락 -> 쪽지 수신함 쪽지 상세)-->
<!--    발신자명: 닉네임, 메일주소: 이메일, 제목, 내용, 작성일 -->
    <select id="selectReceivedDetail" parameterType="Long" resultType="MailDTO">
        SELECT
            TM.ID, TM.MAIL_TITLE, TM.MAIL_CONTENT, TM.MAIL_SEND_TIME,
            TU.USER_NAME AS sendUserName,
            TU.USER_EMAIL AS sendUserEmail
        FROM TBL_MAIL TM
        JOIN TBL_USER TU
        ON TM.SEND_USER_ID = TU.ID
        WHERE TM.ID = #{id}
          AND TM.RECEIVE_USER_ID = #{receiveUserId}
          AND TM.MAIL_RECEIVE_USER_DELETED = 0
    </select>

<!--    보낸 쪽지 단일 조회(작가와 연락 -> 내가 보낸 쪽지 상세)-->
    <select id="selectSendedDetail" parameterType="Long" resultType="MailDTO">
        SELECT
            TM.ID, TM.MAIL_TITLE, TM.MAIL_CONTENT, TM.MAIL_SEND_TIME,
            TU.USER_NAME AS receiveUserName,
            TU.USER_EMAIL AS receiveUserEmail
        FROM TBL_MAIL TM
        JOIN TBL_USER TU
        ON TM.SEND_USER_ID = TU.ID
        WHERE TM.ID = #{id}
          AND TM.SEND_USER_ID = #{sendUserId}
          AND TM.MAIL_RECEIVE_USER_DELETED = 0
    </select>

<!--    받은 쪽지 삭제 (작가와 연락 수신함 쪽지 삭제)-->
    <update id="deleteReceivedMail" parameterType="Long">
        UPDATE TBL_MAIL
        SET MAIL_RECEIVE_USER_DELETED = 1
        WHERE ID = #{id}
          AND RECEIVE_USER_ID = #{receiveUserId}
    </update>

    <!--    보낸 쪽지 삭제 (내가 보낸 쪽지 삭제, 알림 삭제)-->
    <update id="deleteSendedMail" parameterType="Long">
        UPDATE TBL_MAIL
        SET MAIL_SEND_USER_DELETED = 1
        WHERE ID = #{id}
          AND SEND_USER_ID = #{sendUserId}
    </update>




<!--    2. 알림    -->
<!--    관리자에게 온 알림만 조회(알림 리스트)-->
    <select id="selectAlert" parameterType="Long" resultType="MailDTO">
        SELECT TM.ID, TM.MAIL_TITLE, TM.MAIL_SEND_TIME, TU.USER_NAME AS sendUserName
        FROM TBL_MAIL TM
        JOIN TBL_USER TU
        ON TM.SEND_USER_ID = TU.ID
        WHERE TM.RECEIVE_USER_ID = #{receiveUserId}
          AND TM.MAIL_RECEIVE_USER_DELETED = 0
          AND TM.SEND_USER_ID = 1
        ORDER BY TM.MAIL_SEND_TIME DESC
    </select>

<!--    알림 상세-->
    <select id="selectAlertDetail" parameterType="MailDTO" resultType="MailDTO">
        SELECT ID, MAIL_TITLE, MAIL_CONTENT, MAIL_SEND_TIME
        FROM TBL_MAIL
        WHERE ID = #{id}
          AND RECEIVE_USER_ID = #{receiveUserId}
    </select>

<!--    알림 삭제 = 75번줄과 동일-->

<!--    읽음처리-->
    <update id="readUpdate" parameterType="MailDTO">
        UPDATE TBL_MAIL
        SET MAIL_OPEN_OK = 1
        WHERE ID = #{id}
        AND RECEIVE_USER_ID = #{receiveUserId}
    </update>

<!--    읽지 않은 알림 갯수-->
    <select id="countNotRead" parameterType="Long" resultType="int">
        SELECT COUNT(ID)
        FROM TBL_MAIL
        WHERE RECEIVE_USER_ID = #{receiveUserId}
          AND SEND_USER_ID = 1
          AND MAIL_OPEN_OK = 0
          AND MAIL_RECEIVE_USER_DELETED = 0
    </select>

<!--    헤더에 알림 10개 뿌리기-->



</mapper>