<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.gradationback.mapper.UpcyclingMapper">

    <!-- 전체 조회 -->
    <select id="selectAll" parameterType="Long" resultType="UpcyclingDTO">
        SELECT
            TUP.ID, TUP.UPCYCLING_ADDRESS, TUP.UPCYCLING_DETAIL_ADDRESS, TUP.UPCYCLING_EMAIL, TUP.UPCYCLING_PHONE, TUP.UPCYCLING_DATE,
            TUP.UPCYCLING_SIZE_SMALL, TUP.UPCYCLING_SIZE_MEDIUM, TUP.UPCYCLING_SIZE_LARGE, TUP.UPCYCLING_MATERIALS, TUP.UPCYCLING_IMG_NAME,
            TUP.UPCYCLING_IMG_PATH, TUP.UPCYCLING_SIGNIFICANT, TUP.UPCYCLING_STATUS, TUP.USER_ID, TUS.USER_NAME
        FROM TBL_UPCYCLING TUP
        JOIN TBL_USER TUS
        ON TUP.USER_ID = TUS.ID
        WHERE TUP.USER_ID = #{userId}
    </select>

    <!-- 단건 조회 -->
    <select id="select" parameterType="Long" resultType="UpcyclingVO">
        SELECT
            ID, UPCYCLING_ADDRESS, UPCYCLING_DETAIL_ADDRESS, UPCYCLING_EMAIL, UPCYCLING_PHONE, UPCYCLING_DATE,
            UPCYCLING_SIZE_SMALL, UPCYCLING_SIZE_MEDIUM, UPCYCLING_SIZE_LARGE, UPCYCLING_MATERIALS, UPCYCLING_IMG_NAME,
            UPCYCLING_IMG_PATH, UPCYCLING_SIGNIFICANT, UPCYCLING_STATUS, USER_ID
        FROM TBL_UPCYCLING
        WHERE ID = #{id}
    </select>

    <!-- 등록 -->
    <insert id="insert" parameterType="UpcyclingVO">
        INSERT INTO TBL_UPCYCLING (
            ID, UPCYCLING_ADDRESS, UPCYCLING_DETAIL_ADDRESS, UPCYCLING_EMAIL, UPCYCLING_PHONE, UPCYCLING_DATE,
            UPCYCLING_SIZE_SMALL, UPCYCLING_SIZE_MEDIUM, UPCYCLING_SIZE_LARGE, UPCYCLING_MATERIALS, UPCYCLING_IMG_NAME,
            UPCYCLING_IMG_PATH, UPCYCLING_SIGNIFICANT, USER_ID
        ) VALUES (
            SEQ_UPCYCLING.NEXTVAL, #{upcyclingAddress}, #{upcyclingDetailAddress}, #{upcyclingEmail},
             #{upcyclingPhone}, #{upcyclingDate}, #{upcyclingSizeSmall}, #{upcyclingSizeMedium}, #{upcyclingSizeLarge},
             #{upcyclingMaterials}, #{upcyclingImgName}, #{upcyclingImgPath}, #{upcyclingSignificant},
             #{userId}
                 )
    </insert>

    <!-- 수정 (상태 변경) -->
    <update id="update" parameterType="UpcyclingVO">
        UPDATE TBL_UPCYCLING
        SET UPCYCLING_STATUS = #{upcyclingStatus}
        WHERE ID = #{id}
    </update>

    <!-- 삭제 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_UPCYCLING
        WHERE ID = #{id}
    </delete>

    <!-- 관리자용 업사이클링 승인 대기 목록 조회 -->
    <select id="selectAllUpcyclingPending" resultType="UpcyclingDTO">
        SELECT
            TUC.ID, UPCYCLING_ADDRESS, UPCYCLING_DETAIL_ADDRESS, UPCYCLING_EMAIL, UPCYCLING_PHONE, UPCYCLING_DATE,
            UPCYCLING_SIZE_SMALL, UPCYCLING_SIZE_MEDIUM, UPCYCLING_SIZE_LARGE, UPCYCLING_MATERIALS, UPCYCLING_IMG_NAME,
            UPCYCLING_IMG_PATH, UPCYCLING_SIGNIFICANT, UPCYCLING_STATUS,
            TBU.ID AS USER_ID, USER_NAME, USER_EMAIL
        FROM TBL_UPCYCLING TUC
            JOIN TBL_USER TBU ON TUC.USER_ID = TBU.ID
        WHERE TUC.UPCYCLING_STATUS = '대기'
        ORDER BY TUC.UPCYCLING_DATE DESC
    </select>

    <!-- 관리자용 업사이클링 상세 조회 -->
    <select id="selectUpcyclingPendingById" parameterType="Long" resultType="UpcyclingDTO">
        SELECT
            TUC.ID, UPCYCLING_ADDRESS, UPCYCLING_DETAIL_ADDRESS, UPCYCLING_EMAIL, UPCYCLING_PHONE, UPCYCLING_DATE,
            UPCYCLING_SIZE_SMALL, UPCYCLING_SIZE_MEDIUM, UPCYCLING_SIZE_LARGE, UPCYCLING_MATERIALS, UPCYCLING_IMG_NAME,
            UPCYCLING_IMG_PATH, UPCYCLING_SIGNIFICANT, UPCYCLING_STATUS,
            TBU.ID AS USER_ID, USER_NAME, USER_EMAIL
        FROM TBL_UPCYCLING TUC
            JOIN TBL_USER TBU ON TUC.USER_ID = TBU.ID
        WHERE TUC.ID = #{id}
    </select>

    <!-- 관리자용 업사이클링 상태 변경 (승인 / 반려) -->
    <update id="updateUpcyclingStatus" parameterType="UpcyclingDTO">
        UPDATE TBL_UPCYCLING
        SET UPCYCLING_STATUS = #{upcyclingStatus}
        WHERE ID = #{id}
    </update>



</mapper>
